[2016-06-23 21:14] dsjoerg opened #1 "Reinstate /stats page, restrict it to signed-in admin users"

[2016-06-23 21:15] dsjoerg opened #2 "Review issues at SandersForPresident/BernieBNB and identify showstoppers"

[2016-06-26 18:35] dsjoerg opened #3 "Deploy at hillarybnb.com"
Heroku?
AWS?

[2016-06-26 18:35] dsjoerg opened #4 "Remove all Bernie mentions from codebase"

[2016-06-26 18:36] dsjoerg opened #5 "favicon"

[2016-06-26 18:40] dsjoerg opened #6 "DESIGN: site logo - consider NEW/UPDATE"

[2016-06-26 18:42] dsjoerg opened #7 "legal review: privacy policy, disclaimer in email, copyright"

[2016-06-26 18:52] dsjoerg opened #8 "operationalize in production"
bugsnag
google analytics
security review / hardening

[2016-06-26 18:53] dsjoerg opened #9 "Make feedback form and link to it from site"

[2016-06-26 18:54] dsjoerg commented on #8
pingdom

[2016-06-26 18:56] dsjoerg commented on #2
No showstoppers

[2016-06-26 18:56] #2 closed

[2016-06-26 19:06] dsjoerg opened #10 "should site be named HillaryBNB? something else?"
if you have other ideas for the site name, add them here and do it soon :)
hillarybnb.com is available and i've reserved it.

[2016-06-26 19:06] dsjoerg opened #11 "review site text and email text for grammar, persuasiveness and effectiveness"

[2016-06-26 19:07] dsjoerg opened #12 "Google and Bing integration"

[2016-06-26 19:24] dsjoerg commented on #1
Used to be here: https://github.com/dsjoerg/BernieBNB/blob/45aca31177807006e347ccb502e17af2f0dfadf0/app/views/pages/stats.html.haml

It was removed in https://github.com/dsjoerg/BernieBNB/commit/22b838a564641275173186e83f0378d0f1f9bb31 and can be reinstated once this issue is resolved.

[2016-06-27 02:57] theship commented on #10
Someone has been calling it bluebnb.

[2016-06-27 03:13] dsjoerg commented on #10
that is a neat name.  who is someone?  unfortunately bluebnb.com is taken.

[2016-06-27 03:16] theship commented on #10
Can't remember if it was Seeyew or Greg or... Oh well, it's taken anyway.

[2016-06-29 13:23] dsjoerg opened #13 "Rename repo"

[2016-06-29 13:24] dsjoerg opened #14 "Configure *@hillarybnb.com email to go to DJ"
for now

[2016-06-29 13:25] #13 closed

[2016-06-29 13:30] dsjoerg commented on #8
mailgun

[2016-06-29 16:54] dsjoerg opened #15 "Get all tests working"
Just wrote to the BernieBNB team:

[2016-06-29 19:02] dsjoerg commented on #15
Al writes:

[2016-06-29 22:00] dsjoerg commented on #15
all tests pass hooray

[2016-06-29 22:00] #15 closed

[2016-06-29 22:00] dsjoerg commented on #12
working in production

[2016-06-29 22:00] #12 closed

[2016-06-29 22:00] dsjoerg commented on #10
hillarybnb it is

[2016-06-29 22:00] #10 closed

[2016-06-29 22:00] dsjoerg commented on #4
done

[2016-06-29 22:00] #4 closed

[2016-06-29 22:00] dsjoerg commented on #3
deployed at heroku

[2016-06-29 22:01] #3 closed

[2016-06-29 22:01] dsjoerg commented on #8
mailgun is up and running

[2016-06-29 22:01] dsjoerg opened #16 "get foo@hillarybnb.com emails to go to DJ"
google apps config

[2016-06-29 22:02] dsjoerg commented on #16
dup

[2016-06-29 22:02] #16 closed

[2016-06-29 23:23] dsjoerg commented on #9
BernieBNB has feedback links in the page footers.  We should have our own feedback form or email addr to do the same.  See https://github.com/SandersForPresident/BernieBNB/blob/master/app/views/users/show.html.haml#L49

[2016-06-30 04:35] #14 closed

[2016-06-30 04:36] dsjoerg commented on #8
using uptimerobot instead of pingdom

[2016-06-30 06:10] dsjoerg commented on #8
airbrake is maybe working, but need to trigger an exception to know for sure

[2016-06-30 14:12] dsjoerg opened #17 "admin@hillarybnb.com forward to a distribution list of maintainers"
to DJ, MT and MJ's email

[2016-06-30 14:32] dsjoerg commented on #8
airbrake is working

[2016-06-30 14:33] dsjoerg opened #18 "add Google Analytics so we can see traffic sources & funnel stats"
which may give us ideas about how to improve the site, and help us know which promotions of the site are effective.

[2016-06-30 14:34] dsjoerg commented on #17
and update airbrake to email to admin@hillarybnb.com, and update the site email addresses to all send to admin@hillarybnb.com

[2016-06-30 14:35] dsjoerg commented on #8
google analytics was moved to its own issue.  all that's left here is the security review.

[2016-06-30 14:46] dsjoerg commented on #8
i ran bundle-audit and I think we're OK.  we are running rails 4.2.6; there are 6 reported vulnerabilities in 4.2.5, and if I understand the changelogs correctly, 4.2.6 incorporates the security patches that were made in the 4.2.5.\* series.   no reported vulnerabilities outside of rails.

[2016-06-30 14:46] #8 closed

[2016-06-30 14:47] dsjoerg opened #19 "set up AppCanary or some other kind of continuous security monitoring"
let's not get hacked or at least not hacked easily

[2016-06-30 19:44] mveytsman commented on #19
Hey @dsjoerg,

I'd love to help out in any way I can!

(cofounder of Appcanary here)

[2016-06-30 20:27] dsjoerg commented on #19
omg its @mveytsman !!!  <3

thanks hopefully one of the team can get it set up easily, if we run into trouble we'll letcha know

[2016-06-30 23:41] bradyk opened #20 "LEGAL: Remove copyright notice from footer - DO"
The copyright notice isn't necessary, and it makes things confusing. Should either be removed or replaced by "HillaryBNB is licenced under the GNU Affero GPL 3+ open source license. The source is available on GitHub" or similar.

[2016-07-01 00:00] seeyew opened #21 "Can't login using FaceBook"
When I try to login using Facebook, I see a pop up that says

App Not Setup: This app is still in development mode, and you don't have access to it. Switch to a registered test user or ask an app admin for permissions.
<img width="1205" alt="screen shot 2016-06-30 at 4 54 55 pm" src="https://cloud.githubusercontent.com/assets/1076930/16508082/228f98a0-3ee4-11e6-88a0-98402cf46d87.png">

[2016-07-01 01:29] dsjoerg commented on #21
@seeyew I believe I've fixed that now, could you please try again?

[2016-07-01 01:35] dsjoerg commented on #20
Hi Brady, I would be happy to remove it, less stuff is better.  However I could use some more guidance on why it isn't necessary here.
Looking at http://www.nolo.com/legal-encyclopedia/when-do-you-need-copyright-notice-websites-and-where-do-you-place-it.html it seems like the main value here is to make people think twice about malicious copying such as HilaryBNB.com with one L, run by our enemies

[2016-07-01 03:54] seeyew commented on #21
@dsjoerg So I can login through Facebook but it also asks for google login. Is that supposed to happen?

[2016-07-01 04:07] dsjoerg commented on #21
Not sure what you mean, can you show me a screenshot?   For me it's like this.  Before logging in:
![image](https://cloud.githubusercontent.com/assets/783273/16511579/c335fa66-3f1f-11e6-84c8-6f40d65ab6d6.png)

After logging in via Facebook:
![image](https://cloud.githubusercontent.com/assets/783273/16511588/d49cedb4-3f1f-11e6-817c-0ba488d2c6a3.png)

[2016-07-01 04:12] seeyew commented on #21
Here it is Step 1
<img width="831" alt="screen shot 2016-06-30 at 9 09 23 pm" src="https://cloud.githubusercontent.com/assets/1076930/16511663/69da3f30-3f07-11e6-9a4f-b32c07f85191.png">

Step 2
<img width="666" alt="screen shot 2016-06-30 at 9 09 38 pm" src="https://cloud.githubusercontent.com/assets/1076930/16511628/2d44676c-3f07-11e6-93fb-6ab1d0c8667b.png">

Then I see this
<img width="590" alt=

[2016-07-01 04:42] dsjoerg commented on #21
Wow that is bizarre.  There was a record for you in the database with a Google oauth token.  I wonder if your record got screwed up by the Facebook misconfiguration I had before.

I deleted that record so you'll be coming in clean.  Could you try again?

If it's still happening for you, and since it's not happening for me, I'd like to figure out a reliable way to reproduce the problem.  To start o

[2016-07-02 18:26] wbronitsky commented on #1
Currently, there is no concept of different user types. To solve this issue, should we add that concept? We could whitelist emails or something along those lines to decide who is an admin user and who isn't.

[2016-07-02 19:52] mt0321 commented on #21
For what it's worth, I was just able to log in using Facebook and it worked as expected.

[2016-07-02 19:55] mt0321 commented on #5
What's left to be done here? I see we've got http://www.hillarybnb.com/favicon.ico right now.

[2016-07-02 21:08] dsjoerg commented on #1
@wbronitsky yes i'd say add a boolean flag to the User model for admin

[2016-07-02 21:08] dsjoerg commented on #21
great!

[2016-07-02 21:08] #21 closed

[2016-07-02 21:10] dsjoerg commented on #5
you're right, we only need a new favicon if we get a new logo

[2016-07-02 21:10] dsjoerg commented on #6
and if we get a new logo, then we could use a new favicon as well

[2016-07-02 21:43] kmiyashiro opened #22 "Overflow/layout causes permanent scrollbars"
Needs a containing element so the bootstrap `.row` doesn't cause overflow issues. There are a few css layout issues with the way the grid system is being used for the main layout, it can probably be simplified by not using the bootstrap grid system for that.

![screen shot 2016-07-02 at 2 41 57 pm](https://cloud.githubusercontent.com/assets/71852/16542578/4297eb72-4063-11e6-9129-bf5fc67bee13.png)

[2016-07-02 21:49] kmiyashiro opened #23 "Missing Airbrake env variables required"
Not mentioned in the README what to do for these variables in development mode: https://github.com/DevProgress/HillaryBNB/commit/78a92a2c042d54e33538560a95cf95bf7aeacc7b#diff-33e8e74514712ce4597178028340798dR16

I've tried setting in my env vars and even hardcoding it into the airbrake initializer, I always get this error when trying to run `export RAILS_ENV=development; docker-compose up -d web`.

[2016-07-02 22:36] mt0321 commented on #17
Remaining work:
1. Noticed the registration email came from info@hillarybnb.com. Should we be using that as the contact email instead? For now updated emails to admin@ -- https://github.com/DevProgress/HillaryBNB/commit/6695ec0f7194e408b3d633728955ab2a5438cf4b
2. Do we need to update the email address emails are being sent from? (If so -- how are the ENV variables (e.g. DEFAULT_SENDER_ADDRESS) set

[2016-07-02 22:38] mt0321 commented on #23
I've got a similar issue, when running `docker-compose build`:

[2016-07-02 22:45] kmiyashiro commented on #23
It seems that is always running the build step with `RAILS_ENV=production`, even when explicitly exporting or setting `RAILS_ENV=development`.

Hardcoding the values as strings in the initializer got me past the build step, but after bringing up the container with `docker-compose up web` it still does not serve anything on `localhost:8080`. Trying to attach to the container with `docker attach` ju

[2016-07-02 23:16] kmiyashiro opened #24 "DESIGN: Button PATTERN and COLOR confusing"
The green and red button scheme only makes sense in an Ok/Cancel context, but it is currently used for all situations (Google/Facebook, Host/Find Host). Is there an existing style guide/color scheme for the campaign that we can tweak or just use?

![screen shot 2016-07-02 at 4 06 58 pm](https://cloud.githubusercontent.com/assets/71852/16542840/146e7fb6-406f-11e6-9beb-ee9810e518e6.png)

[2016-07-03 00:23] mt0321 commented on #23
Made a fix to avoid having to hard-code Airbrake values in order to get the build to work, and the clarified development environment setup instructions accordingly: https://github.com/DevProgress/HillaryBNB/commit/7c239b30cb7213615416cf7e85864d14b53b1ad2

Following those instructions I am able to get the site up and running and serving traffic on localhost:8080. (I sometimes have had to run `docke

[2016-07-03 01:34] mt0321 commented on #15
Updated the application.yml.example file such that the tests will all pass by default if that file's content is used as application.yml. https://github.com/DevProgress/HillaryBNB/commit/68faa836836cf6662914ceae823a7b5af4ff10eb

[2016-07-03 01:44] kmiyashiro commented on #23
Confirmed this is the fix. However, it doesn't work by going to localhost:8080 since I have to point it to the docker machine IP. This raises another issue with the docs since Google OAuth doesn't requires a hostname and disallows IPs, I'll open another issue.

[2016-07-03 01:44] #23 closed

[2016-07-03 01:47] kmiyashiro opened #26 "Add hosts setup to Google OAuth, doesn't allow IPs"
I tried setting up google oauth for local dev and get this 400 response when I try to initiate google oauth: `device_id and device_name are required for private IP`.

Searching on google shows that you must have a hostname set, which means you just need to set a fake hostname to point to your docker machine in your `/etc/hosts` on Mac and equivalent on Windows.

[2016-07-03 02:29] kmiyashiro opened #29 "Local development confirmation email uses localhost:3000"
The email uses `localhost:3000` as the hostname for the confirmation link.

[2016-07-03 03:51] dsjoerg commented on #29
What hostname should it use?

[2016-07-03 03:51] #26 closed

[2016-07-03 03:58] dsjoerg commented on #24
Good question @kmiyashiro.  Apparently there is a "Pantsuites" bootstrap template used by the campaign.  @derekparham said on Slack #general "its not open sourced right now, but we’re looking to do that".

[2016-07-03 03:59] dsjoerg commented on #24
Also Matt Rothenberg may be interested in working on design issues for HillaryBNB so I asked him on Slack, we'll see.

[2016-07-03 04:39] kmiyashiro commented on #29
it should probably use `MAILER_URL` from `application.yml`, although I'm not sure what else that is used for. There are various URLs in there that seem suitable:
- `SITE_URL`
- `MAILER_URL`
- `BASE_DOMAIN`

[2016-07-03 04:50] mt0321 commented on #18
Basic integration is complete: https://github.com/DevProgress/HillaryBNB/commit/2bd310cb71ad0ae6656cbca2d3ae938f80198fab
(Still needs to be deployed.)

[2016-07-03 04:50] #18 closed

[2016-07-03 05:33] dsjoerg commented on #29
I looked at the code for a while and can't figure out where the hostname is coming from.  In app/views/user_mailer/registration_confirmation.html.erb there is `<%= link_to "HillaryBNB - Confirm Your Email", confirm_email_user_url(@user.confirm_token) %>` but I can't find `confirm_email_user_url` in devise or anywhere else.  Probably some Rails magic going on where a URL is automagically being crea

[2016-07-03 05:35] #22 closed

[2016-07-03 05:57] dsjoerg commented on #17
1. works for me
2. done, updated
3. done, updated

i believe you do have access to the airbrake account via the heroku account.

[2016-07-03 05:57] #17 closed

[2016-07-03 05:58] dsjoerg commented on #18
Deployed, it is alive!

[2016-07-03 16:01] mt0321 commented on #29
Looks like it is coming from these:

[2016-07-03 17:19] dsjoerg commented on #29
@kmiyashiro you want to take this one on?

[2016-07-03 19:15] mt0321 commented on #9
Done.

[2016-07-03 19:15] #9 closed

[2016-07-03 22:16] #29 closed

[2016-07-03 23:01] mattrothenberg commented on #24
I chimed in on slack, @kmiyashiro and @dsjoerg. We can keep it simple by using green and blue for primary actions, and using a white (or transparent) button for secondary actions.

[2016-07-04 14:34] dsjoerg opened #35 "Add continuous integration testing such as CircleCI"
So that PRs are automatically checked.

[2016-07-04 19:31] kmiyashiro commented on #35
Looks like a `.travis.yml` already exists, should just be a matter of changing some of those values and setting up Travis?

[2016-07-09 02:30] dsjoerg opened #38 "AirBNB integration"
one of the BernieBNB authors [mentioned](https://www.reddit.com/r/CodersForSanders/comments/4pqmyi/seeyouinphillycom/d4o74j5?st=iqejz33j&sh=5f67e174):

[2016-07-13 14:33] dsjoerg commented on #1
@mattjacobus has a PR in progress for this: https://github.com/DevProgress/HillaryBNB/pull/39

[2016-07-14 18:13] dsjoerg commented on #11
From @seeyew:

[2016-07-14 18:15] dsjoerg opened #40 "Remove H logo / trademark"
as per campaign request

[2016-07-15 14:23] dsjoerg commented on #1
Done by @mattjacobus

[2016-07-15 14:23] #1 closed

[2016-07-15 14:23] dsjoerg commented on #40
done yesterday

[2016-07-15 14:23] #40 closed

[2016-07-15 14:24] dsjoerg commented on #6
definitely need a proper site logo now that we can't use the trademark H from the campaign

[2016-07-22 22:40] davidgljay commented on #38
It doesn't look like AirBnB has an official API, the unofficial API is listed here:

http://airbnbapi.org/

More research (and possible legal consultation) would be required before moving ahead with implementing this. It looks like this should allow someone to authenticate via google or FB with AirBnB, retrieve their user info, and confirm if they're a verified host. Is that the goal?

[2016-07-23 10:55] dsjoerg commented on #38
Great find, David.

Rather than do this, we are in talks with the campaign to allow them to indicate whether or not a host or guest is "vetted".

I'll close this for now.

[2016-07-23 10:55] #38 closed

[2016-10-07 19:00] dsjoerg opened #41 "DESIGN: Make feedback link more prominent and ubiquitous"
When users have a comment or complaint we want to know.
How about a FEEDBACK button in the footer that links to a Google Form?

[2016-10-07 19:02] dsjoerg commented on #41
Actually I see now that we have a feedback link in the site already (added in https://github.com/DevProgress/HillaryBNB/commit/19b0272b47ca4d98627d39cd674c29d29119cce4) but I think it's easy to miss and could be more ubiquitous.  My vote would be to add it to the footer template so that it's on every page.

[2016-10-07 19:03] dsjoerg opened #42 "Summarize when emails are sent"
Review the code that sends emails and write a short summary of exactly when emails are sent, so that the product manager, volunteer coordinators and other stakeholders can better understand how the system works.

[2016-10-07 19:04] dsjoerg commented on #42
And put the logic writeup somewhere in README.md.

[2016-10-07 19:08] dsjoerg opened #43 "COPY: VETTING DISCLAIMER more explicit and dire"
Emails to hosts and guests currently say "We strongly recommend that potential hosts and visitors connect over social media before making any housing plans."

Instead we need to make it clear that:
* guests and hosts have not been vetted by the campaign, by volunteers, or by anyone else
* it is your responsibility to contact potential hosts and visitors in advance and decide whether it is safe for

[2016-10-07 19:10] dsjoerg opened #44 "Change wording to be more clear for hotel room sharing"
The SF campaign is hoping to use HillaryBNB to coordinate hotel room sharing.  HillaryBNB can be used for this although the wording could make it more clear.

[2016-10-07 19:14] dsjoerg opened #45 "Merge the /visit and /visit/edit pages?"
Flynn of the SF office found it confusing / unnecessary that when looking at /visit/edit you couldn't see how many hosts you had contacted and had to click through again to the /visit page to see that.

[2016-10-07 19:30] dsjoerg opened #46 "COPY: Host Contacted Page, CONFIRMATION"
After hitting the "SEND MY CONTACT INFO" button, the next page's message says "We will send Shawn your contact info!"

However since the emails are sent nightly, maybe it would be more clear to say "We will send Shawn your contact info later tonight!"  That way users don't expect the contact to be made immediately.

[2016-10-07 20:45] dsjoerg opened #47 "FEATURE: Add ability to create blackout dates for hostings"
See https://github.com/SandersForPresident/BernieBNB/issues/135

and then also https://github.com/SandersForPresident/BernieBNB/pull/209 and https://github.com/SandersForPresident/BernieBNB/pull/210

[2016-10-09 15:14] mattjacobus opened #48 "Can't delete host listing"
It's either not possible or not apparent how to delete a host listing.

[2016-10-09 15:50] dsjoerg commented on #48
When you click on your hosting, do you see something like this?

![image](https://cloud.githubusercontent.com/assets/783273/19221710/7bd667be-8e16-11e6-9279-75e1af7d2852.png)

The idea is to click on the I CAN'T HOST button.

[2016-10-09 15:50] mattjacobus commented on #48
Uh, aside from the big red button that I didn't notice below "save".  Sorry.

[2016-10-09 15:50] #48 closed

[2016-10-09 15:51] dsjoerg commented on #48
Well maybe you won't be the only one to have this problem?   Maybe you can think of something that would work better?

[2016-10-09 16:01] mattjacobus commented on #48
I was actually scanning that page for "Delete", similar to what you would see in the iOS contacts app where you edit a contact and then at the bottom is "Delete contact".  My inclination is to change the text to have it say "Cancel" when you're in the process of creating a new listing and "Delete" when you're looking at an existing listing.

[2016-10-09 16:20] dsjoerg commented on #48
On BernieBNB it used to be "DELETE" and they changed it to "I AM BOOKED" for some reason.  I asked them why, maybe they'll remember what the problem was for DELETE. https://github.com/SandersForPresident/BernieBNB/commit/1a03635588ff190588160cec32d5d00833aad07f#commitcomment-19353570

[2016-10-09 16:24] dsjoerg commented on #48
Imagine that you've set up a hosting and you have 3 people coming to stay at your place, and now you're full and don't want any more guests.  I wonder if the host was worried to hit DELETE because they were worried that their accepted & wanted guests would be told that they were no longer able to stay at their place.

[2016-10-09 18:02] dsjoerg commented on #43
Hey @mattjacobus @nankrafft how about:
`
"WARNING: while most users of HillaryBNB are friendly, trustworthy and responsible Hillary supporters, some of them might not be.  We have NOT vetted HillaryBNB users at all.  It is YOUR responsibility to evaluate potential hosts and visitors and decide if it's safe to proceed.
`

[2016-10-09 18:04] dsjoerg commented on #46
Hey @mattjacobus @nankrafft if you think this is a good idea I'll go ahead and change this.

[2016-10-09 18:18] dsjoerg commented on #44
New homepage wording could be:

[code]

It's awkward but maybe OK?

[2016-10-09 18:20] dsjoerg commented on #44
User's homepage could be:

(green button): `FIND A PLACE TO STAY`  (currently `FIND A HOST`)
(red button):

[code]

(currently `I CAN HOST`)

[2016-10-09 18:21] dsjoerg commented on #44
@nankrafft let's talk through this once you've had a chance to play with the site a bit

[2016-10-10 15:51] dsjoerg opened #49 "set up daily database backups"

[2016-10-10 16:28] NanKrafft commented on #46
I would go ahead and do it. @dsjoerg

I think we still need to think about what we will be doing RE last minute requests.

[2016-10-10 16:42] NanKrafft commented on #46
Just went through it. Think that it is confusing that user sees "contacted" with green box/check mark to the right of host name, then sees above that they "will be" contacted.

I think that the minor change above is good for right now - will not hurt anything, but that YES this needs some work. I will noodle and play with today.

[2016-10-10 16:44] NanKrafft commented on #24
Agree. Also think that the question placement might be more intuitive if placed above button.

[2016-10-10 16:52] NanKrafft commented on #42
Modify per any changes to email timing.

[2016-10-10 16:57] NanKrafft commented on #6
I have reached out to a graphic designer to see about a few mock ups for replacement design for the lowercase "h" - will circle back soon

[2016-10-10 17:26] NanKrafft commented on #43
That copy is for sure more direct and along the lines of what we need. I think it might be good to tone it down a bit - seems fearful.

Consider...

 "PLEASE NOTE: Guests and hosts have NOT been vetted by the campaign, by volunteers, or by anyone else. It is your responsibility to contact potential hosts and visitors in advance and decide whether you are comfortable and safe staying with them"

We

[2016-10-10 17:27] NanKrafft opened #50 "CONSIDER: Option in user PROFILE to link SOCIAL MEDIA account"
This can be used to facilitate individual vetting.

Do we need copy re discrimination?

[2016-10-10 18:35] NanKrafft opened #51 "FEATURE: Text fields for HOST change suggested text"
Hosts offering to share hotel room or blocks will need to be able to let people know the dates and price of rooms/beds that they have available etc.

- # of beds (how many do they sleep)
- Cost of bed or cost per person
- Preferred payment method (pay me back using... paypal, check, cash...)
- Only comfortable sharing with... women/men/N/A? (Should this be included) - might be implied in user Name

[2016-10-10 18:59] NanKrafft commented on #44
CURRENT
1   Fill out a quick user profile using your Facebook or Google login.
2   Create a travel request or hosting offer.
3   Travelers send their contact info and trip details to nearby hosts.
4   Hosts confirm by phone or email.

PROPOSED (David's suggestions above + edits) - NEEDS EDITS/ NOT FINAL COPY

How Home/Hotel Sharing Works

Fill out a quick user profile using your Facebook or Google

[2016-10-10 19:01] NanKrafft commented on #47
@dsjoerg this seems important. where are we at in terms of technical build. Can we get this feature in ASAP? Think we should.

[2016-10-10 19:11] NanKrafft opened #52 "LAUNCH/PRESS: Share what states need hosts - Get the word out to volunteers and hosts that site exists"
- #of hosts we have in # state
- # of connections made
- where we need hosts etc.

Can campaign share?
HQs and field offices FYI/How To
DevProgress users share
Who could write article about? (how many users can we handle? 90K)

[2016-10-10 19:54] NanKrafft commented on #44
@alittlecynical take look. :)

[2016-10-10 19:54] NanKrafft commented on #43
@alittlecynical

[2016-10-10 19:54] NanKrafft commented on #11
@alittlecynical

[2016-10-10 19:55] NanKrafft commented on #11
Email Copy should for sure be updated.

Current:

"Hi Nan ,

Thanks for registering with HillaryBNB! Click the URL below to confirm your registration:

HillaryBNB - Confirm Your Email

Legal Disclaimer: By agreeing to use this service, you hereby agree to waive any and all claims arising from your use of this service against the Hillary Clinton campaign, any groups associated with the Hillary Clin

[2016-10-10 21:31] NanKrafft commented on #44
Doc with edits.

https://docs.google.com/document/d/1cxThVacGKHSMLKl6MX5CpEasXvj613l2f9eOo8MLXJQ/edit?ts=57fbfeff

[2016-10-10 21:32] NanKrafft commented on #11
Doc With copy edits

https://docs.google.com/document/d/1cxThVacGKHSMLKl6MX5CpEasXvj613l2f9eOo8MLXJQ/edit?ts=57fbfeff

[2016-10-11 00:07] dsjoerg commented on #47
I emailed @fpcyan to ask if she'd like to finish up her work in https://github.com/SandersForPresident/BernieBNB/pull/210.

[2016-10-11 00:12] dsjoerg commented on #50
Let's say a visitor links their social media account and then contacts a host.  What will we put about the visitor in the email to the host?  A Facebook profile page can look pretty bare when you don't know the person.  For example here's mine: https://www.facebook.com/dsjoerg

If you are undecided about this I would lean towards leaving it out in the name of simplicity & reducing friction by offe

[2016-10-11 00:12] dsjoerg commented on #52
Assigning it to @NanKrafft until there is a better assignee

[2016-10-11 00:13] dsjoerg commented on #41
@NanKrafft if you are cool with this I'll do it

[2016-10-11 00:13] dsjoerg commented on #35
@kmiyashiro could be!  Could you take this on?

[2016-10-11 00:30] dsjoerg commented on #49
OK, set it up.  Will close this when I confirm tomorrow that the overnight backup ran and I can download it and it has new content from today.

[2016-10-11 00:57] dsjoerg commented on #46
OK @NanKrafft minor change is pushed and deployed.   Assigning to you to consider what else if anything should be done.

[2016-10-11 00:59] dsjoerg commented on #43
@NanKrafft your revision looks great to me.  I'll update the language to that for now and await further revisions / suggestions.

[2016-10-11 01:45] dsjoerg opened #53 "ADD Unsubscribe link in our emails - (unsubscribe - delete hosting posted for user)"
Is it bad that we don't have an unsubscribe link?

I'm thinking about how technically-challenged users might set up a hosting offer or a visit, then receive unwanted emails, and be unclear about how to make them stop.  The last line of our emails say "You can add, edit or delete your host offers anytime here: [HillaryBNB - Host](http://www.hillarybnb.com/hostings/23/edit)".  A savvy user will know

[2016-10-11 01:47] #42 closed

[2016-10-11 02:07] dsjoerg commented on #47
@nan matt jacobus is going to work on this tomorrow (Tuesday)

[2016-10-11 14:00] fpcyan commented on #47
@dsjoerg @NanKrafft I'll see how far I got on this project after work today, and give an estimate for finishing it.

[2016-10-11 14:12] dsjoerg commented on #47
w00t thanks @fpcyan !!

[2016-10-11 14:38] fpcyan commented on #47
Actually @NanKrafft, @dsjoerg let's clarify who is working on this on this issue instead of via emails? :p

[2016-10-11 14:55] dsjoerg commented on #47
So @mattjacobus is working on this issue today / now.  @fpcyan I understand that you won't be able to work on this until after work today, so why don't you check in then and see if he's made enough progress.

[2016-10-11 15:16] dsjoerg commented on #49
OK it's working!

[2016-10-11 15:16] #49 closed

[2016-10-11 16:38] NanKrafft commented on #47
@fpcyan are you in DevProgress Slack? Would be great to have you in the project channel and some small group DMs. :)

[2016-10-11 17:15] kmiyashiro commented on #35
I'll take a look, do we have a circleCI or travis account? or just use my own?

[2016-10-11 17:17] dsjoerg commented on #35
We do not have an account.  There are some official DevProgress instructions (here)[https://github.com/DevProgress/onboarding/wiki/Using-Circle-CI-with-Github-Pages-for-Continuous-Delivery] and they say to use your own if I'm reading it right.

[2016-10-11 17:27] NanKrafft commented on #53
Could we add a user support email address, or does that open up a can of worms?

[2016-10-11 17:30] NanKrafft commented on #50
Linked to Host on "Host Near..." page

Traveler has ability to quickly view hosts FB profile (see if they are real) before contacting them. Opt in.

Optional for Host to share FB profile.

![screen shot 2016-10-10 at 9 39 28 am](https://cloud.githubusercontent.com/assets/13854320/19281147/af5b9f68-8f9d-11e6-9d43-b44d5f088996.png)

[2016-10-11 17:31] NanKrafft commented on #43
Doc with Copy

https://docs.google.com/document/d/1cxThVacGKHSMLKl6MX5CpEasXvj613l2f9eOo8MLXJQ/edit?ts=57fbfeff

[2016-10-11 17:34] NanKrafft commented on #24
@mattrothenberg are you suggesting we simply change the "I can host" button to blue?

Will follow your lead on this.

[2016-10-11 17:34] mattrothenberg commented on #24
@NanKrafft I'm not actively working on this project anymore, sorry!

[2016-10-11 17:35] NanKrafft commented on #6
Ryan notes that top option might be too close to official campaign.

![screen shot 2016-10-11 at 10 34 36 am](https://cloud.githubusercontent.com/assets/13854320/19281276/581fa5fe-8f9e-11e6-8599-ef06f8659f13.png)

[2016-10-11 17:35] dsjoerg commented on #53
My 2c would be to do it now at small scale to learn, and then as we ramp up we'll have to take it away.  But it might be a smart thing to do at small scale to accelerate the learning about what the common problems/concerns are.

[2016-10-11 17:38] dsjoerg commented on #50
@NanKrafft do you consider this issue ready for a developer to start working on it, or would you like to consider it further / specify it further?  there are some unanswered questions about how this should work but we could leave it to the developer's discretion if you like.

Also would you like the host to be able to see the same kind of social media information about their visitor?

[2016-10-11 17:44] NanKrafft commented on #46
@dsjoerg My suggestion is that emails to hosts continue to go out nightly, BUT if a traveler user selects a start date that is within 48 hours of the current time/date the email to the host goes out immediately. (this would need to be clearly communicated to hosts).

We could solve for duplicate emails by strongly encouraging hosts to update their listing and remove it once space is filled.

Thoug

[2016-10-11 17:47] dsjoerg commented on #46
@NanKrafft that is smart, I like it.

And since nothing in the current production system's language mentions that the emails are daily, we may not even have to change that much in the current wording.

You want to make a new issue for this change?

[2016-10-11 17:56] NanKrafft opened #54 "UPDATE: FAQ"
Copy doc here. https://docs.google.com/document/d/1U6KCFfYO6z3KeXa9D2bYc_XnQ_xM2gmKLUXE5VV8H5M/edit#

[2016-10-11 18:21] NanKrafft opened #55 "COPY: Host list of guests EMAIL"
![screen shot 2016-10-11 at 11 20 15 am](https://cloud.githubusercontent.com/assets/13854320/19282882/cfc7acae-8fa4-11e6-8f2e-e2d6cb39745d.png)

[2016-10-11 18:28] NanKrafft commented on #55
doc with copy here

https://docs.google.com/document/d/1cxThVacGKHSMLKl6MX5CpEasXvj613l2f9eOo8MLXJQ/edit?ts=57fbfeff

[2016-10-11 18:34] dsjoerg commented on #19
OK its done thanks @mveytsman !!

[2016-10-11 18:34] #19 closed

[2016-10-11 18:35] NanKrafft opened #56 "COPY: Registration Confirmation EMAIL"
https://docs.google.com/document/d/1cxThVacGKHSMLKl6MX5CpEasXvj613l2f9eOo8MLXJQ/edit?ts=57fbfeff

[2016-10-11 18:42] NanKrafft opened #57 "FEATURE: Change HOST email FREQUENCY based on IMMEDIACY (date/time related to current date/time)"
Emails to hosts listing inquiries that day continue to go out nightly (are dated), BUT if a traveler user selects a start date that is within 48 hours of the current time/date the email to the host goes out immediately (date and time stamp)

If possible > ADD "Urgent" to subject or within email

Email copy here:
https://docs.google.com/document/d/1cxThVacGKHSMLKl6MX5CpEasXvj613l2f9eOo8MLXJQ/edit?t

[2016-10-11 18:45] NanKrafft commented on #20
@dsjoerg @bradyk current thoughts on this?

Unless there is reason not to I would go with leaving it on every page.

[2016-10-11 18:46] dsjoerg commented on #57
@NanKrafft should we go ahead and implement this or do you want to work on it/think on it more?

[2016-10-11 18:53] NanKrafft commented on #51
@dsjoerg I suggest that we get rid of the character limit and instead add suggested text in text field.

Example if hotel share:
- What is the cost per room per night (for hotel share)?

Example if room/bed in home:
- twin bed in shared room

Would like this to be an OR - am going to add feature for Host to select if it is a "host in home" or "share hotel or other accommodations"

![screen shot 20

[2016-10-11 18:55] NanKrafft opened #58 "FEATURE: ADD type of accommodation to HOST LISTING page"
![screen shot 2016-10-11 at 11 52 43 am](https://cloud.githubusercontent.com/assets/13854320/19284109/63760b0e-8fa9-11e6-8309-642aa5bf7521.png)

Add check box for host to select either...

- Room or bed in my home
OR
- Share hotel room or other accommodations

Based on selection suggested text in "message to your visitors" will vary

[2016-10-11 18:55] dsjoerg commented on #51
OK @NanKrafft do you want to design/write this more or is this ready for a developer to start working on?

[2016-10-11 18:59] NanKrafft commented on #51
SEE/PENDING issue 58
https://github.com/DevProgress/HillaryBNB/issues/58

[2016-10-11 18:59] NanKrafft commented on #58
@dsjoerg good to go

[2016-10-11 18:59] NanKrafft commented on #58
SEE issue 51
https://github.com/DevProgress/HillaryBNB/issues/51

[2016-10-11 19:02] NanKrafft commented on #57
@dsjoerg I think we can move on it. Will need to sync with dev on updates to copy, but we have time for that. :)

[2016-10-11 19:02] dsjoerg commented on #51
Once #58 is done, is this ready for a developer to start working on?

[2016-10-11 19:03] NanKrafft commented on #54
Nan will do update in github once good to go with copy.

[2016-10-11 19:04] dsjoerg commented on #54
Does Nan often refer to herself in third person?  David does not.

[2016-10-11 19:06] #41 closed

[2016-10-11 19:07] NanKrafft commented on #54
It was just a reminder to myself - calling myself out.

[2016-10-11 19:28] dsjoerg commented on #54
David does that sometimes too

[2016-10-11 19:33] dsjoerg commented on #57
@NanKrafft to be sure I understand what we want here, see [this](https://github.com/devprogress/hillarybnb#when-does-hillarybnb-send-emails) for current email-sending logic.

New proposed logic:
- When a visitor clicks "SEND MY CONTACT INFO", if their visit will begin within 48 hours, the email is sent immediately to the host (an "Instant Email").
- Every night at 3:30/4am Eastern time we do the f

[2016-10-11 21:09] #58 closed

[2016-10-11 21:13] bradyk commented on #20
wowee this is old. :)
@NanKrafft @dsjoerg
Having a "Copyright 2016" really tells the viewer "hands off, this is mine!" when really we want to say "Heyo this is open source! woo!"

Which is why I think we should either remove it all together, or mention the OS license we're using specifically.

[2016-10-11 21:18] dsjoerg commented on #20
I'm not going to oppose removing it altogether, since it's not going to hurt our chances of defeating Trump and it will remove one issue from the list.

[2016-10-11 21:19] dsjoerg commented on #58
OK @NanKrafft this is done and deployed in production.  The suggestion text modification is not yet done, that's issue #51.

[2016-10-11 21:20] dsjoerg commented on #58
@NanKrafft I also made it show up in the "user/123" page.  So here it is:

![image](https://cloud.githubusercontent.com/assets/783273/19289069/f0c44304-8fd6-11e6-8421-f9f808e7b95c.png)

![image](https://cloud.githubusercontent.com/assets/783273/19289084/039866ea-8fd7-11e6-94d2-839baab1906b.png)

[2016-10-11 21:36] dsjoerg commented on #46
@NanKrafft made #57 to change mail behavior / frequency.  What else needs to be done for this issue?  Some visual change to indicate whether or not the email has actually been sent yet?

[2016-10-11 21:50] dsjoerg commented on #51
OK @NanKrafft, #58 is done, opening this up for a developer who wants to take it

[2016-10-11 21:55] dsjoerg commented on #47
@mattjacobus made a lot of progress on this today.  His work is pushed to https://github.com/mattjacobus/hillarybnb.  What remains is to update the nightly email logic to not send emails when there is no date overlap, and to add suitable tests for that.

[2016-10-11 21:55] NanKrafft commented on #57
@dsjoerg

**YES** - When a visitor clicks "SEND MY CONTACT INFO", if their visit will begin within 48 hours, the email is sent immediately to the host (an "Instant Email").

Every night at 3:30/4am Eastern time we do the following:

**YES** - For each Hosting Offer registered in the system, if there are any visitors who clicked the "SEND MY CONTACT INFO" button within the past 24 hours (and for wh

[2016-10-11 22:11] dsjoerg commented on #57
@NanKrafft regarding your suggestion about the change to daily emails sent to Visitors, that sounds like it could be a new github issue separate from this one.  To help us get started on that I added a section to the end of the "Edits & Recommendations" Google Doc showing the current email copy that is sent to Visitors nightly if there are new potential hosts.

So, I think this issue is ready for

[2016-10-11 22:17] NanKrafft commented on #57
Yep. I will start separate issue. Do we have a copy of the email that visitors currently get if a host opens up/is listed? Or do I need to play with the site and get one? @dsjoerg

[2016-10-11 22:19] NanKrafft opened #59 "FEATURE: Room opens up for VISITOR with saved visit EMAIL"
My suggestion here would be that IF a host becomes available during any of their "saved" visits -> we send a once a day notification that links them back to the page that shows available hosts. Something like "There are now hosts available during one of your visits"

We should also add language that encourages visitors to remove their visits once they have secured accommodations - so they don't ge

[2016-10-11 22:19] mattjacobus commented on #47
A list of hostings is shown after a visit is created.  This matching logic needs to be changed to ensure date overlap as well.

[2016-10-11 22:22] NanKrafft commented on #59
Need COPY for email and to update on request page

![screen shot 2016-10-11 at 3 20 17 pm](https://cloud.githubusercontent.com/assets/13854320/19290844/7a81ab38-8fc6-11e6-8508-2262c52f5b51.png)

[2016-10-11 22:27] NanKrafft commented on #59
Copy in this doc

https://docs.google.com/document/d/1cxThVacGKHSMLKl6MX5CpEasXvj613l2f9eOo8MLXJQ/edit?ts=57fbfeff

[2016-10-11 22:45] NanKrafft commented on #20
Okay. Changing issue to "remove copyright" :)

[2016-10-11 22:55] rschroed commented on #24
Maybe something like this?
<img width="769" alt="screen shot 2016-10-11 at 3 53 53 pm" src="https://cloud.githubusercontent.com/assets/12657/19291588/f77d6416-8fca-11e6-8e44-552339063961.png">

These are the two blues from the DP style guide: https://devprogress.us/style-guide/styles/colors
#0055b8  &  #53aaff

[2016-10-11 22:56] NanKrafft commented on #24
Great. @dsjoerg you good with this?

[2016-10-11 22:57] dsjoerg commented on #24
Yes!

On Tuesday, October 11, 2016, NanKrafft notifications@github.com wrote:

##

Sent from NSAMail Mobile

[2016-10-11 22:59] rschroed commented on #24
Could use the similar color scheme on the sign in page. And, potentially, the primary button could be set to that darker blue. But, there's probably cases where you still want the red cancel style.

Happy to take a pass through the app if that'd be helpful.

[2016-10-11 23:03] NanKrafft commented on #24
Sign in page: "Facebook" & "Google Buttons" -> should these be blues?

User home pg: "I can host" & "Find a host" -> YES blues

Find a host page: "contact hosts" & "cancel" -> Leave as is, green and red
Host page:  "save" & "cancel" -> Leave as is, green and red

[2016-10-12 00:58] dsjoerg opened #60 "[Airbrake] [Production] can't write unknown attribute `accomodation_type`"
**Airbrake error:** [#3800](https://herokuapp52917062herokucom.airbrake.io/projects/126488/groups/1794574066953323800)
**Airbrake project:** hillarybnb

**Error type:** `ActiveModel::MissingAttributeError`
**Error message:** `` can't write unknown attribute `accomodation_type` ``
**Where:** `hostings#create`
**Occurred at:** Oct 12, 2016 00:58:19 UTC
**First seen at:** Oct 12, 2016 00:58:19 UTC
**

[2016-10-12 01:03] dsjoerg opened #61 "[Airbrake] [Production] ActionController::InvalidAuthenticityToken"
**Airbrake error:** [#8600](https://herokuapp52917062herokucom.airbrake.io/projects/126488/groups/1794576689810998600)
**Airbrake project:** hillarybnb

**Error type:** `ActionController::InvalidAuthenticityToken`
**Error message:** `` ActionController::InvalidAuthenticityToken ``
**Where:** `hostings#create`
**Occurred at:** Oct 12, 2016 01:03:31 UTC
**First seen at:** Oct 12, 2016 01:03:31 UTC
*

[2016-10-12 01:08] dsjoerg commented on #60
Not sure what's up with this.  It happened when I tried to add a hosting.  I thought this happened because I did a database migration to add the `accomodation_type` column to the `hostings` table but needed to restart heroku.

So I did a `heroku restart` and then added a hosting and it worked.

But then I looked in the DB and I had successfully added a hosting 4 hours ago, so now I don't know what

[2016-10-12 01:08] #60 closed

[2016-10-12 01:08] dsjoerg commented on #61
This happened when I filled out a form, then restarted the server, and then tried to use that form.

[2016-10-12 01:08] #61 closed

[2016-10-12 02:52] mattjacobus commented on #47
I fixed the list of hostings shown after a visit is created and pushed the change to my fork.  I don't yet understand how the rake tasks work (lib/tasks/send*.rake).

[2016-10-12 02:57] mattjacobus opened #62 "Match even if the entire party can't be accommodated"
I noticed the code in visit.available_hostings only returns a match if the number of travelers is less than or equal to the max number of guests in a host listing.  If you are trying to match a large group, I think it would be useful to see partial matches.

[2016-10-12 03:15] dsjoerg commented on #62
good point @mattjacobus i agree that this should be changed.

go for it!

[2016-10-12 13:16] dsjoerg commented on #59
@NanKrafft I believe what you're asking for in this issue is very similar to the site's current functionality which you may not have known about:

The text of this email is now in the Google Doc in the final section called "EMAIL - VISITOR - LIST OF NEW POTENTIAL HOSTS"

Have a look and a think & let us know what you'd like to do.

[2016-10-12 13:33] dsjoerg opened #63 "FEATURE: send email to HOST immediately if VISIT starts soon"
(For discussion see #57)

* When a visitor clicks "SEND MY CONTACT INFO", if their visit will begin within 48 hours, the email is sent immediately to the host (an "Instant Email").
* Contacts/Visits for which an Instant Email has been sent are *not* included in nightly emails to Hosts.

[2016-10-12 13:34] dsjoerg commented on #57
Using #63 so that developer can see exactly what needs to be built without having to read our whole discussion.

[2016-10-12 13:34] #57 closed

[2016-10-12 13:40] dsjoerg commented on #51
@NanKrafft do you want the suggestion text "twin bed in shared room" to be **in** the text field or below it?   We currently have text in the text field **and** below it, can you specify what you'd like done with each?

[2016-10-12 16:41] NanKrafft commented on #51
@dsjoerg I was originally thinking it would be in the text field (replacing the current character limit note), but it could also be just updating the text below.

**1) We should **remove character limit***\*

**2) We want to facilitate the sharing of any additional hotel info in listing**

a) Update **question copy**:

Current: "Do you have a message for your visitors?"

Proposed: "Please share an

[2016-10-12 17:13] NanKrafft commented on #62
+1

[2016-10-12 17:15] NanKrafft commented on #59
![screen shot 2016-10-12 at 10 14 08 am](https://cloud.githubusercontent.com/assets/13854320/19320104/ce033742-9064-11e6-9864-f74541b4e15e.png)

[2016-10-12 17:20] NanKrafft commented on #59
@dsjoerg I was just trying to come up with something to solve for multiple emails (if multiple hosts became available within a 24hr period)

Is this correct?

 If visitor has a request in for a visit to Seattle and 10 new hosts sign up in Seattle within 24 hrs -> User will receive 10 emails each with the individual host?

OR

If visitor has a request in for a visit to Seattle and 10 new hosts sign

[2016-10-12 17:32] dsjoerg commented on #59
The latter, "If visitor has a request in for a visit to Seattle and 10 new hosts sign up in Seattle within 24 hrs -> User will receive 1 daily email with info for all 10 hosts in that area that are now available?"

I tried to explain this in the README:

[2016-10-12 17:45] #59 closed

[2016-10-12 17:45] dsjoerg commented on #59
as per discussion with @NanKrafft

[2016-10-12 18:30] NanKrafft commented on #56
**Original:**

Hi Nan ,

Thanks for registering with HillaryBNB! Click the URL below to confirm your registration:

HillaryBNB - Confirm Your Email

Legal Disclaimer: By agreeing to use this service, you hereby agree to waive any and all claims arising from your use of this service against the Hillary Clinton campaign, any groups associated with the Hillary Clinton campaign, and DevProgress.

**Up

[2016-10-12 18:33] dsjoerg commented on #56
Looks good @NanKrafft, you can edit https://github.com/DevProgress/HillaryBNB/blob/master/app/views/user_mailer/registration_confirmation.html.erb to make this change.

[2016-10-12 18:50] #51 closed

[2016-10-12 18:56] dsjoerg opened #64 "Don't let user change their email address once their email is verified"
http://www.hillarybnb.com/users/XXX/edit lets the user change their email address.
However the new email address is not re-verified, which defeats the purpose of email address verification.  People could use HillaryBNB as a spam machine that way.  We don't want to send emails to addresses that didn't verify.

[2016-10-12 18:56] dsjoerg commented on #56
OK @NanKrafft you did it, and its deployed to production 👍

[2016-10-12 18:56] #56 closed

[2016-10-12 18:57] dsjoerg opened #65 "[Airbrake] [Production] No route matches {:action=>"confirm_email", :controller=>"users", :id=>nil} missing required keys: [:id]"
**Airbrake error:** [#1498](https://herokuapp52917062herokucom.airbrake.io/projects/126488/groups/1795117315648491498)
**Airbrake project:** hillarybnb

**Error type:** `ActionController::UrlGenerationError`
**Error message:** `` No route matches {:action=>"confirm_email", :controller=>"users", :id=>nil} missing required keys: [:id] ``
**Where:** `users#update`
**Occurred at:** Oct 12, 2016 18:57:

[2016-10-12 19:01] dsjoerg commented on #65
i SQL'd the DB and got this

[2016-10-12 19:01] #65 closed

[2016-10-12 19:02] dsjoerg commented on #35
I asked Brady to give CircleCI access to the DevProgress github so that it can integrate here directly.

[2016-10-12 19:16] #24 closed

[2016-10-12 20:37] #20 closed

[2016-10-12 21:00] dsjoerg opened #66 "[Airbrake] [Production] undefined method `first_name' for nil:NilClass"
**Airbrake error:** [#8804](https://herokuapp52917062herokucom.airbrake.io/projects/126488/groups/1795179208442478804)
**Airbrake project:** hillarybnb

**Error type:** `ActionView::Template::Error`
**Error message:** `` undefined method `first_name' for nil:NilClass ``
**Where:** `visits#show`
**Occurred at:** Oct 12, 2016 21:00:38 UTC
**First seen at:** Oct 12, 2016 21:00:38 UTC
**Occurrences:**

[2016-10-12 21:08] dsjoerg commented on #66
reproducible in prod with prod DB.    go to http://www.hillarybnb.com/visits/37 to trigger it.

[2016-10-12 21:18] dsjoerg commented on #66
This happened because I SQL'd the prod DB.  When will I learn?!

[2016-10-12 21:18] #66 closed

[2016-10-12 21:43] NanKrafft commented on #6
![screen shot 2016-10-12 at 2 42 38 pm](https://cloud.githubusercontent.com/assets/13854320/19328782/30958386-908a-11e6-9851-3bbe7f9eb7db.png)

[2016-10-12 21:48] dsjoerg commented on #6
very cool!
fwiw i still like # 2 best, the other ones stress the BNB too much for my liking.

[2016-10-13 02:06] nellshamrell commented on #63
Taking a look at this one.

[2016-10-13 03:38] explikated commented on #64
Looking into this one...

[2016-10-13 04:25] nellshamrell commented on #63
Just got my dev environment setup and need to log off for the evening.  Will take a look at this tomorrow evening, but if anyone else wants to pick it up before then please feel free :)

[2016-10-13 12:18] dsjoerg commented on #64
Fixed by @explikated in https://github.com/DevProgress/HillaryBNB/pull/68

[2016-10-13 12:18] #64 closed

[2016-10-13 13:10] #47 closed

[2016-10-13 13:10] #62 closed

[2016-10-13 13:22] dsjoerg commented on #54
Note that FAQ is somewhat out of date now that #47 is done

[2016-10-13 13:27] dsjoerg opened #69 "improve DNS config; some mailhosts don't like our config"
Back in August, a mail bounced, and the receiver's mail team looked into it and said:

[2016-10-13 13:39] dsjoerg commented on #69
What's weird about this is that there is a record for mg.hillarybnb.com:

[code]

[2016-10-13 13:39] dsjoerg commented on #69
So is the problem that there is no CNAME record for mg.hillarybnb.com?  I can set one up, but I wasn't sure if that would break something else.

[2016-10-13 13:45] dsjoerg commented on #53
Hey @NanKrafft it turns out that our mail-sending service Mailgun can automatically add an unsubscribe link to the bottom of our emails.

I'd recommend that we do that, so that fewer users classify our emails as spam (which was happening to BernieBNB).  Of course we'd rather that the user click on the link to delete their visit/hostingoffer, but these days when a user wants email to stop, they exp

[2016-10-13 16:35] NanKrafft commented on #6
![screen shot 2016-10-13 at 9 34 40 am](https://cloud.githubusercontent.com/assets/13854320/19357873/4f82ceea-9128-11e6-81fa-ff9f75166c91.png)

[2016-10-13 16:46] dsjoerg commented on #6
still like # 2 from the original set best

[2016-10-13 16:59] NanKrafft commented on #46
![screen shot 2016-10-13 at 9 59 22 am](https://cloud.githubusercontent.com/assets/13854320/19358712/c215c7e8-912b-11e6-9a5c-5d20bc5ebd38.png)

[2016-10-13 17:01] NanKrafft commented on #46
@dsjoerg Messages still seem a bit confusing. What do you think of just changing it to "Host contacted"

I know is not as accurate, but might cause less confusion (especially for last minute folks, which might the the bulk of users)

[2016-10-13 17:03] NanKrafft commented on #43
USE:

"PLEASE NOTE: Guests and hosts have NOT been vetted by the campaign, by volunteers, or by anyone else. It is your responsibility to contact potential hosts and visitors in advance and decide whether you are comfortable and safe staying with them"

[2016-10-13 17:06] dsjoerg commented on #43
Perfect, we have  been using that language for a few days so this is Done

[2016-10-13 17:06] #43 closed

[2016-10-13 17:10] NanKrafft commented on #55
Vetting disclaimer updated.

[2016-10-13 17:10] #55 closed

[2016-10-13 17:10] dsjoerg commented on #46
@NanKrafft how about we change both the message and the button to accurately say what's going on.  Either "We will send David your contact info later tonight!" or "We have sent David your contact info!" for the green text on top, and "WILL CONTACT HOST TONIGHT" or "HOST CONTACTED" for the green button.

What I'm trying to avoid is the system saying it has sent a message when it hasn't, which makes

[2016-10-13 17:17] NanKrafft commented on #53
@dsjoerg My only concern is that they will unsubscribe, but visitors will think that they are not responding (and keep thinking they are available). It will be a bad user experience on the visitor end.

Is there any other way to solve for the spam issue?

It would be added work to have some sort of user support email address, but my guess is that we would really only have a week or so of high volu

[2016-10-13 17:18] NanKrafft commented on #52
Reno and SF #1

Brady says word of mouth will go a long way.

Worth having DevP folks share on their social etc.

[2016-10-13 17:25] dsjoerg commented on #53
Good point @NanKrafft.  So how about this:

In the email we have an Unsubscribe link that takes the user to a new Unsubscribe page.

On that page we can confirm that user wants to unsubscribe from all communications and that they are no longer hosting or visiting.  When they click unsubscribe we delete all their active hostings and visits.

[2016-10-13 17:29] NanKrafft opened #71 "FEATURE: let Instant Emails have different wording"
PENDING issue #63 completion

**ADD to Subject of email -**

**Current:**  "You've been contacted!"

**Proposed:** "You've been contacted! [Urgent]"

**ADD to body of email -**

**Current:**
Hi David,

Thank you for offering to host volunteers on HillaryBNB! **Here are** all the people who have expressed interest in your offer today, October 08, 2016:

Flynn:

Phone: 415-000-000
Email: test@gmail.

[2016-10-13 17:51] dsjoerg commented on #71
To be clear, these changes are to be made only to the Instant Emails that are described in #63.  Non-Instant Emails stay as is.

[2016-10-13 17:54] dsjoerg commented on #35
w00t w00t first green build! https://circleci.com/gh/DevProgress/HillaryBNB/11

[2016-10-13 17:54] #35 closed

[2016-10-13 22:20] wingedpig commented on #69
There's no MX record for mg.hillarybnb.com. All you apparently have is an SPF record. Is there a reason you're sending email from the mg subdomain?

[2016-10-14 00:27] NanKrafft commented on #53
@dsjoerg YES!

[2016-10-14 02:00] dsjoerg opened #72 "ADD Unsubscribe link to our emails — links to new Unsubscribe page"
In our emails (except for welcome and registration) we have an Unsubscribe link that takes the user to a new Unsubscribe page.

On that page we can confirm that user wants to unsubscribe from all communications and that they are no longer hosting or visiting. When they click unsubscribe we delete all their active hostings and visits.

(for discussion see #53)

[2016-10-14 02:01] dsjoerg commented on #53
closing, work to be done in #72

[2016-10-14 02:01] #53 closed

[2016-10-14 02:12] dsjoerg commented on #69
We discussed on Slack but I'll summarize here for posterity.

Mailgun says

HillaryBNB may be sending hundreds or thousand or emails a day to its users; we would like to use mailgun for sending those emails because I presume that mailgun handles mail ops better than we could handle them ourselves otherwise.   However we would also like there to be admin@hillarybnb.com which can receive messages an

[2016-10-14 05:55] epan commented on #6
How obvious should the logo make it that it's affiliated with Hillary campaign? If this is a goal, then keeping the wordmark of Hillary as # 1 in the original does that job better.

Other than that I generally prefer the # 1 in the original post as well because the weight of the text of Hillary and BNB is not overly different as in # 2 in the original post.

If you feel that the BNB in original #

[2016-10-14 12:59] dsjoerg commented on #69
OK!  I think this is fixed.  Will keep this open for a day to confirm.

[2016-10-14 12:59] dsjoerg commented on #69
Thanks @wingedpig !

[2016-10-14 14:05] dsjoerg opened #73 "[Airbrake] [Production] ActionController::InvalidAuthenticityToken"
**Airbrake error:** [#0754](https://herokuapp52917062herokucom.airbrake.io/projects/126488/groups/1796419683740650754)
**Airbrake project:** hillarybnb

**Error type:** `ActionController::InvalidAuthenticityToken`
**Error message:** `` ActionController::InvalidAuthenticityToken ``
**Where:** `users#update`
**Occurred at:** Oct 14, 2016 14:05:14 UTC
**First seen at:** Oct 14, 2016 14:05:14 UTC
**Oc

[2016-10-14 14:26] dsjoerg commented on #73
I'm on this.  Wondering if I should set `protect_from_forgery with: :exception` to `protect_from_forgery with: :null_session` as per [this](http://stackoverflow.com/questions/16258911/rails-4-authenticity-token) and [this](http://api.rubyonrails.org/classes/ActionController/RequestForgeryProtection/ClassMethods.html).

[2016-10-14 14:46] dsjoerg opened #74 "[Airbrake] [Production] ActionController::InvalidAuthenticityToken"
**Airbrake error:** [#8732](https://herokuapp52917062herokucom.airbrake.io/projects/126488/groups/1796440477497658732)
**Airbrake project:** hillarybnb

**Error type:** `ActionController::InvalidAuthenticityToken`
**Error message:** `ActionController::InvalidAuthenticityToken`
**Where:** `visits#create`
**Occurred at:** Oct 14, 2016 14:46:32 UTC
**First seen at:** Oct 14, 2016 14:46:32 UTC
**Occur

[2016-10-14 15:04] dsjoerg commented on #73
OK I fixed this another way.  Turns out that SECRET_KEY_BASE was not set in production, and something (heroku?) was setting it to a different value each time the system started up, which was causing user sessions that spanned restarts to be flagged by CSRF protection.

I set SECRET_KEY_BASE in production and now it's the same value across restarts, and this error has gone away. yay

[2016-10-14 15:04] #73 closed

[2016-10-14 15:04] dsjoerg commented on #74
handled, see #73

[2016-10-14 18:10] rschroed commented on #6
Unless anyone feels strongly otherwise, why don't we go with this? It's similar, but not too close to the official brand (we need to keep a bit of distance), and seems to balance the Hillary // BnB the best.

![hbnb](https://cloud.githubusercontent.com/assets/12657/19397887/a53460b6-91fe-11e6-9015-85db1b67276e.png)

[2016-10-14 21:50] dsjoerg commented on #72
to be clear, the idea here is to get rid of the link at the bottom of the emails composed by new_*_digest.html.erb in app/views/user_mailer and replace it with a new Unsubscribe link

[2016-10-15 00:01] rschroed commented on #6
per slack, let's use the image attached above. I can provide a mock up if required, but it's probably easier to just drop the image in and we'll see how it looks.

[2016-10-15 00:12] dsjoerg commented on #6
this is great!  we'll need a favicon too and will probably want to change both at the same time, yes?

[2016-10-15 00:32] NanKrafft commented on #54
Updated 10/14 - will review again.

[2016-10-15 00:33] NanKrafft commented on #44
@dsjoerg What do you think of this copy for homepage? Details beyond this added to FAQ.

UPDATED SUGGESTION - NAN 10/11

Headline: Welcome to Hillary BNB*!
(Note somewhere in small text no affiliation with Air BnB)

Subhead: A room sharing service for the grassroots wing of the Hillary Clinton Campaign, helping volunteers find free lodging on the road.

We help you find each other, you do the rest

[2016-10-15 00:35] NanKrafft commented on #46
@dsjoerg If it is easy to do and differentiate based on the <48hr plan than I think it is a great idea.

This update pending issue #63

[2016-10-15 00:45] durka commented on #72
Just new_*_digest.html.erb or all the *.erb in that dir?

[2016-10-15 00:50] dsjoerg commented on #72
just new_*_digest.html.erb

[2016-10-15 00:50] durka commented on #72
I'm working on it but I might need some Rails help.

[2016-10-15 01:08] dsjoerg opened #75 "Make messages and button text reflect true email-sending behavior"
For reference: ![reference image](https://cloud.githubusercontent.com/assets/13854320/19358712/c215c7e8-912b-11e6-9a5c-5d20bc5ebd38.png)

After #63 is implemented, change both the message and the button to accurately say what's going on.

For Instant Emails say "We have sent David your contact info!" and "HOST CONTACTED" for the green button.

For non-Instant Emails say "We will send David your co

[2016-10-15 01:08] dsjoerg commented on #46
Closed in favor of #75

[2016-10-15 01:08] #46 closed

[2016-10-15 01:09] dsjoerg commented on #69
Mails have been delivered great.  Previous correspondent who had trouble at Gandi has not been reachable.  Nothing else to be done here until we hear about email problems.

[2016-10-15 01:09] #69 closed

[2016-10-15 01:09] nellshamrell commented on #72
@durka I am around on chat if you need any help :)

[2016-10-15 01:12] dsjoerg commented on #63
@nellshamrell is back on the case!

[2016-10-15 01:55] durka commented on #72
Should we just delete the whole user account? If not seems like there should be a way to un-unsubscribe. I guess the way you are saying it, they will never get another email because they'll have no active hostings/visits. But if they go and create a new one, or if in the future we take the whole email list and do some kind of "Thanks for participating, on to the next election!" email, they'd get a

[2016-10-15 02:11] dsjoerg commented on #72
Good points.

I'm leaning towards just delete the whole user account (and all associated model records), because it's simple.  If they want to come back, creating an account is super easy.

[2016-10-15 02:13] durka commented on #72
OK, well in that case, the Unsubscribe button can just redirect to the `destroy` route, no? So the flow is: clink link in email -> "Are you sure, everything will be deleted" -> click Unsubscribe -> "Successfully deleted account".

[2016-10-15 02:50] dsjoerg commented on #72
Yeah, the wording will need adjustment, but we can take care of that after you've implemented it.  I'm not 100% sure how the destroy route works myself but I'll take your word for it :)

[2016-10-15 02:52] durka commented on #72
Well, assuming the "Delete account" button from the regular Profile view works, then this will too! :D

[2016-10-15 03:50] durka opened #77 "flash[:error] doesn't do anything"
For instance, there is no message shown if you go to confirm an email with an invalid token: http://hillarybnb.com/users/12345/confirm_email

[2016-10-15 03:50] durka commented on #77
The fix seems to be to replace

[code]

with

[code]

[2016-10-15 13:41] #77 closed

[2016-10-15 16:55] dsjoerg opened #81 "Show accomodation_type in visits/show and in nightly email to visitors"
The nightly email to visitors that starts with "Here's a list of all the new hosts available for your visit" lists the available hosts but does not clarify whether they are private homes or hotel shares.

Same goes for the "visits/show" page, the one that a visitor sees when clicking on their own visit that lists available hosts, which starts with "Hosts near <City>; Contact any good matches below

[2016-10-15 16:59] dsjoerg commented on #72
@durka crushed it, https://github.com/DevProgress/HillaryBNB/pull/80

[2016-10-15 16:59] #72 closed

[2016-10-15 22:46] explikated commented on #81
Taking a look at this one now

[2016-10-16 01:31] dsjoerg commented on #81
@explikated crushed this in #82

[2016-10-16 01:31] #81 closed

[2016-10-16 14:09] #63 closed

[2016-10-16 14:19] dsjoerg opened #83 "[Airbrake] [Production] undefined method `sent=' for #<Contact:0x007fc8643ed9b8>"
**Airbrake error:** [#2000](https://herokuapp52917062herokucom.airbrake.io/projects/126488/groups/1797876598412772000)
**Airbrake project:** hillarybnb

**Error type:** `NoMethodError`
**Error message:** `` undefined method `sent=' for #<Contact:0x007fc8643ed9b8> ``
**Where:** `contacts#create`
**Occurred at:** Oct 16, 2016 14:19:51 UTC
**First seen at:** Oct 16, 2016 14:19:51 UTC
**Occurrences:**

[2016-10-16 14:20] dsjoerg opened #84 "[Airbrake] [Production] Missing template http://www.hillarybnb.com/visits/54 with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :coffee, :haml, :jbuilder]}. Searched in: * "/app/user/app/views""
**Airbrake error:** [#5992](https://herokuapp52917062herokucom.airbrake.io/projects/126488/groups/1797877079046455992)
**Airbrake project:** hillarybnb

**Error type:** `ActionView::MissingTemplate`
**Error message:** `` Missing template http://www.hillarybnb.com/visits/54 with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :coffee, :haml, :jbuilder]}.

[2016-10-16 14:22] #83 closed

[2016-10-16 14:22] #84 closed

[2016-10-16 14:27] dsjoerg commented on #75
Part of this was done in #78 by @nellshamrell.  What remains is the button which currently says "HOST CONTACTED".

[2016-10-16 14:33] #71 closed

[2016-10-17 01:39] mattjacobus opened #86 "Creating a visit or hosting for today after midnight UTC is an error"
Not likely the user will want to do this, but may get unintentionally triggered.  The start date for a host listing or a visit will be flagged as being in the past if it is past midnight in UTC, the default time zone in config/application.rb.  Not sure how to fix this.  We could send the timezone from the browser when we bring up the form, but maybe there is a most standard way.

Feel free to clos

[2016-10-17 07:30] dsjoerg opened #87 "[Airbrake] [Production] No route matches {:action=>"unsubscribe", :controller=>"users", :id=>nil} missing required keys: [:id]"
**Airbrake error:** [#4913](https://herokuapp52917062herokucom.airbrake.io/projects/126488/groups/1798395408802744913)
**Airbrake project:** hillarybnb

**Error type:** `ActionController::UrlGenerationError`
**Error message:** `` No route matches {:action=>"unsubscribe", :controller=>"users", :id=>nil} missing required keys: [:id] ``
**Where:** `rake#send_new_contacts_digest`
**Occurred at:** Oct

[2016-10-17 08:00] dsjoerg opened #88 "[Airbrake] [Production] No route matches {:action=>"unsubscribe", :controller=>"users", :id=>nil} missing required keys: [:id]"
**Airbrake error:** [#6610](https://herokuapp52917062herokucom.airbrake.io/projects/126488/groups/1798410614832466610)
**Airbrake project:** hillarybnb

**Error type:** `ActionController::UrlGenerationError`
**Error message:** `` No route matches {:action=>"unsubscribe", :controller=>"users", :id=>nil} missing required keys: [:id] ``
**Where:** `rake#send_new_hosts_digest`
**Occurred at:** Oct 17,

[2016-10-17 13:24] dsjoerg commented on #86
This seems worth fixing, since some people (especially organizers "testing" the system to see if they want to use it) may do this and we don't want them to see any errors.

I see three ways to fix it:
- change the server's timezone to be Eastern time
- allow start dates to be in the past
- when the user specifies a start date of yesterday, change the start date to be today

The first seems easiest

[2016-10-17 13:55] mattjacobus commented on #86
I agree #1 is the easiest and makes sense, but reduces the possibility of errors rather than eliminating them.  If you're in the Western timezone there is a 3 hour window where you will get an error if you create something for today.

I vote for allowing start dates to be for no earlier than yesterday.  If you don't like that we can send the local timezone (which datepicker uses to determine "toda

[2016-10-17 14:07] dsjoerg commented on #86
I'm fine with allowing start dates to be for no earlier than yesterday.

An alternative to consider: the server could tell the page what is the earliest selectable day.  And we could set the server timezone to Pacific time.

[2016-10-17 14:36] mattjacobus commented on #86
I think enforcing no earlier than yesterday on the server works fine because there is already client side checking.  The datepicker uses the local time zone (the user's) to enforce no earlier than today.  We will never get errors and we're not more permissive.

[2016-10-17 14:44] dsjoerg commented on #86
OK! I'm sold.

[2016-10-17 22:34] NanKrafft commented on #44
![screen shot 2016-10-17 at 9 03 28 am](https://cloud.githubusercontent.com/assets/13854320/19458159/3fb41df2-947f-11e6-8d1d-00e54062635e.png)

[2016-10-17 22:35] NanKrafft commented on #6
![screen shot 2016-10-17 at 9 03 28 am](https://cloud.githubusercontent.com/assets/13854320/19458165/4de290f2-947f-11e6-9972-2b0daca0bc99.png)

[2016-10-18 00:13] dsjoerg commented on #6
OK!  Done in deb81de419a26bb290705538406ea716dda26737

[2016-10-18 00:13] #6 closed

[2016-10-18 00:13] dsjoerg commented on #6
Thanks @rschroed !

[2016-10-18 00:14] dsjoerg commented on #86
@mattjacobus are you going to do this one?

[2016-10-18 00:16] dsjoerg commented on #44
Hi @NanKrafft are you happy proceeding with this as per your image of 2 hrs ago?

[2016-10-18 02:06] mattjacobus commented on #86
Yes, just sent pull request.

[2016-10-18 04:18] explikated commented on #75
Taking a look at this one now...

[2016-10-18 14:55] dsjoerg commented on #75
@explikated crushed this with https://github.com/DevProgress/HillaryBNB/pull/90

[2016-10-18 14:55] #75 closed

[2016-10-18 14:56] dsjoerg commented on #86
@mattjacobus destroyed this with https://github.com/DevProgress/HillaryBNB/pull/89

[2016-10-18 14:56] #86 closed

[2016-10-18 15:26] dsjoerg commented on #88
Root cause was https://github.com/DevProgress/HillaryBNB/pull/80/files#r83879038, resolved it by assigning `confirm_token` for all existing users in the prod DB.

[2016-10-18 15:26] #88 closed

[2016-10-18 15:26] dsjoerg commented on #87
Root cause was https://github.com/DevProgress/HillaryBNB/pull/80/files#r83879038, resolved it by assigning `confirm_token` for all existing users in the prod DB.

[2016-10-18 15:26] #87 closed

[2016-10-18 18:31] NanKrafft commented on #44
@dsjoerg yep.

[2016-10-19 00:28] dsjoerg opened #91 "Nasty 500 page shown when browsing to a deleted visit"
**Airbrake error:** [#9465](https://herokuapp52917062herokucom.airbrake.io/projects/126488/groups/1799632630453469465)
**Airbrake project:** hillarybnb

**Error type:** `ActiveRecord::RecordNotFound`
**Error message:** `` Couldn't find Visit with 'id'=58 [WHERE ("visits"."deleted_at" IS NULL)] ``
**Where:** `visits#show`
**Occurred at:** Oct 19, 2016 00:28:44 UTC
**First seen at:** Oct 19, 2016 00

[2016-10-19 01:07] dsjoerg commented on #91
This happened when someone deleted a visit and then browsed to it (maybe by using the back button?)

This should be fixed so that instead of throwing a nasty 500 message and sending us an email, it shows a friendly "That visit has been deleted" page.  Or redirects to the home page.

[2016-10-19 01:08] dsjoerg commented on #91
And the same should be done for hostings.

[2016-10-19 04:08] explikated commented on #91
Taking a look now!

[2016-10-19 06:03] explikated commented on #91
Whoops didn't spot this.. https://github.com/DevProgress/HillaryBNB/pull/92.

[2016-10-19 10:12] dsjoerg commented on #91
@explikated ouch, sorry about that!  I was asleep at the time.

Won't happen again!

[2016-10-19 12:44] mattjacobus commented on #91
My fault @explikated.  Apologies.

[2016-10-19 13:18] dsjoerg commented on #91
@explikated crushed this in #93

[2016-10-19 13:18] #91 closed

[2016-10-19 13:18] dsjoerg opened #94 "host and contact emails not going out!"
investigating

[2016-10-19 13:41] dsjoerg commented on #94
alright, the contact emails aren't going out simply because there haven't been contacts recently.
the new hosts email hasnt gone out because there haven't been matching hosts.

[2016-10-24 06:50] dsjoerg opened #95 "[Airbrake] [Production] No such page: *"
**Airbrake error:** [#0375](https://herokuapp52917062herokucom.airbrake.io/projects/126488/groups/1803448601538560375)
**Airbrake project:** hillarybnb

**Error type:** `ActionController::RoutingError`
**Error message:** `` No such page: * ``
**Where:** `pages#show`
**Occurred at:** Oct 24, 2016 06:50:19 UTC
**First seen at:** Oct 24, 2016 06:50:19 UTC
**Occurrences:** 0 (0 since last deploy on `<

[2016-11-03 06:02] dsjoerg commented on #74
_Comment from Airbrake:_ Resolved [error](https://herokuapp52917062herokucom.airbrake.io/projects/126488/groups/1796440477497658732) reoccurred.